body {
        background-color: #c6a37d;
}

:root {
        --nv-primary-accent: #000000;
        --nv-secondary-accent: #4f4f4f;
        --nv-site-bg: #c6a37d;
        --nv-light-bg: #ededed;
        --nv-dark-bg: #14171c;
        --nv-text-color: #000000;
        --nv-text-dark-bg: #ffffff;
        --nv-c-1: #77b978;
        --nv-c-2: #f37262;
        --nv-fallback-ff: Arial, Helvetica, sans-serif;
}

:root {
        --container: 748px;
        --postwidth: 100%;
        --primarybtnbg: var(--nv-secondary-accent);
        --primarybtnhoverbg: var(--nv-dark-bg);
        --primarybtncolor: #ffffff;
        --secondarybtncolor: var(--nv-primary-accent);
        --primarybtnhovercolor: #ffffff;
        --secondarybtnhovercolor: var(--nv-primary-accent);
        --primarybtnborderradius: 0;
        --secondarybtnborderradius: 0;
        --secondarybtnborderwidth: 3px;
        --btnpadding: 13px 15px;
        --primarybtnpadding: 13px 15px;
        --secondarybtnpadding: calc(13px - 3px) calc(15px - 3px);
        --bodyfontfamily: Poppins;
        --bodyfontsize: 15px;
        --bodylineheight: 1.6;
        --bodyletterspacing: 0px;
        --bodyfontweight: 400;
        --bodytexttransform: none;
        --headingsfontfamily: Poppins;
        --h1fontsize: 50px;
        --h1fontweight: 800;
        --h1lineheight: 1.2em;
        --h1letterspacing: 0px;
        --h1texttransform: none;
        --h2fontsize: 30px;
        --h2fontweight: 800;
        --h2lineheight: 1.2em;
        --h2letterspacing: 0px;
        --h2texttransform: none;
        --h3fontsize: 25px;
        --h3fontweight: 800;
        --h3lineheight: 1.2em;
        --h3letterspacing: 0px;
        --h3texttransform: none;
        --h4fontsize: 20px;
        --h4fontweight: 800;
        --h4lineheight: 1.2em;
        --h4letterspacing: 0px;
        --h4texttransform: none;
        --h5fontsize: 16px;
        --h5fontweight: 800;
        --h5lineheight: 1.2em;
        --h5letterspacing: 0px;
        --h5texttransform: none;
        --h6fontsize: 14px;
        --h6fontweight: 800;
        --h6lineheight: 1.2em;
        --h6letterspacing: 0px;
        --h6texttransform: none;
        --formfieldborderwidth: 2px;
        --formfieldborderradius: 0;
        --formfieldbordercolor: #dddddd;
        --formfieldcolor: var(--nv-text-color);
        --formfieldpadding: 20px;
}
